.container {
    height: 100%;
    width: 100%;
    position: relative;
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -webkit-perspective-orign: 50% 50%;
    -moz-perspective-orign: 50% 50%;
   
}
.father {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
         transform-style: preserve-3d;
         -webkit-animation: random-rotate 5s linear 0s infinite;
         -moz-animation: random-rotate 5s linear 0s infinite;
          -ms-animation: random-rotate 5s linear 0s infinite;
           -o-animation: random-rotate 5s linear 0s infinite;
                animation: random-rotate 5s linear 0s infinite;
}
.page {
    font-size: 70px;
    color: #DB7093;
    background: rgba(249, 248, 142, 0.50);
    width: 100px;
    height: 100px;
    border: 1px solid #E8ABAB;
    position: absolute;
}
.page1 {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
     -ms-transform: rotateY(-90deg);
      -o-transform: rotateY(-90deg);
         transform: rotateY(-90deg);
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
     -ms-transform-origin: right;
      -o-transform-origin: right;
         transform-origin: right;
}
.page2 {
    -webkit-transform: translateZ(-100px);
    -moz-transform: translateZ(-100px);
     -ms-transform: translateZ(-100px);
      -o-transform: translateZ(-100px);
          transform:translateZ(-100px);;
}
.page3{
    -webkit-transform: rotateY(90deg);
       -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
         -o-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
        transform-origin: left;      
}
.page4{
    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
         -o-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: top;
       -moz-transform-origin: top;
        -ms-transform-origin: top;
         -o-transform-origin: top;
}
.page5{
    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
         -o-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transform-origin: bottom;
       -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
         -o-transform-origin: bottom;       
}
@-webkit-keyframes random-rotate{
    0%{
        -webkit-transform:rotateX(0deg) rotateY(0deg);
           -moz-transform:rotateX(0deg) rotateY(0deg);
             -o-transform:rotateX(0deg) rotateY(0deg);
                transform:rotateX(0deg) rotateY(0deg);
    }
    100%{
        -webkit-transform:rotateX(360deg) rotateY(360deg);
           -moz-transform:rotateX(360deg) rotateY(360deg);
             -o-transform:rotateX(360deg) rotateY(360deg);
                transform:rotateX(360deg) rotateY(360deg);
    }
}